$flex: flex;

.liveContainer__header {
  background-color: #26a380;
}

.liveContainer__header__content {
  display: $flex;
  margin-left: 2rem;
  flex-direction: row;
  align-items: center;
}

.live__dot {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.live__title {
  margin: 0.5rem;
  font-size: x-large;
  font-weight: 500;
}

.liveContainer__body {
  display: $flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #EEEEEE;
  min-height: 100vh;
}

.liveContainer__body__scores {
  display: $flex;
  flex-direction: column;
  align-items: center;
}

.liveContainer__body__leagueContainer {
  min-width: 600px;
  margin: 2rem;
  table {
    width: 100%;
  }
  tr {
    height: 3rem;
    background-color: #FFFFFF;
  }
  td {
    padding: 0rem 1rem;
  }
}

.leagueNameContainer {
  height: 3rem;
  font-size: x-large;
  text-align: center;
  background-color: #222831;
  color: white;
}

.leagueName {
  line-height: 3rem;
}

.liveScore > span {
  display: inline-block;
}

.noGames {
  text-align: center;
}

.state {
  min-width: 50px;
}

.homeTeam {
  min-width: 200px;
  text-align: right;
}

.score {
  min-width: 68px;
}

.awayTeam {
  min-width: 200px;
}

.liveContainer__body__leagueNavigator {
  nav {
    display: $flex;
    flex-direction: column;
    margin: 2rem;
    a {
      text-decoration: none;
      font-size: x-large;
      color: #393E46;
    }
  }
}
