$flex: flex;
$league-container-width: 600px;

.liveContainer__header {
  background-color: #26a380;
}

.liveContainer__header__content {
  display: $flex;
  margin-left: 2rem;
  flex-direction: row;
  align-items: center;
}

.live__dot {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.live__title {
  margin: 0.5rem;
  font-size: x-large;
  font-weight: 500;
}

.liveContainer__body {
  display: $flex;
  padding-left: 20rem;
  background-color: #EEEEEE;
  min-height: 100vh;
}

.liveContainer__body__scores {
  display: $flex;
  flex-direction: column;
  align-items: center;
}

.dateChanger {
  display: $flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: $league-container-width;
}

.dateChanger__indicator {
  display: $flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2rem;
  color: #222831;
}

.dateChanger__indicator__backward {
  cursor: pointer;
  &:after {
    content: ' \25C0';
    font-size: 2rem;
  }
}

.dateChanger__indicator__displayDate {
  margin: 0 2rem;
  span {
    font-size: xx-large;
  }
}

.dateChanger__indicator__forward {
  cursor: pointer;
  &:after {
    content: ' \25B6';
    font-size: 2.1875rem;
  }
}

.dateChanger__picker {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  input {
    background-color: #EEEEEE;
    color: #222831;
    border-color: #222831;
  }
}

.liveContainer__body__leagueContainer {
  min-width: $league-container-width;
  margin: 2rem;
  table {
    width: 100%;
  }
  tr {
    height: 3rem;
    background-color: #FFFFFF;
  }
  td {
    padding: 0rem 1rem;
  }
}

.leagueNameContainer {
  height: 3rem;
  font-size: x-large;
  text-align: center;
  background-color: #222831;
  color: white;
}

.leagueName {
  line-height: 3rem;
}

.liveScore > span {
  display: inline-block;
}

.noGames {
  text-align: center;
}

.state {
  min-width: 50px;
}

.homeTeam {
  min-width: 200px;
  text-align: right;
}

.score {
  min-width: 68px;
}

.awayTeam {
  min-width: 200px;
}

.liveContainer__body__leagueNavigator {
  position: fixed;
  right: 10rem;
  
  nav {
    display: $flex;
    flex-direction: column;
    margin: 2rem;
    a {
      text-decoration: none;
      font-size: x-large;
      color: #393E46;
    }
  }
}
