$flex: flex;
$row: row;
$column: column;
$flex-start: flex-start;
$flex-end: flex-end;
$center: center;
$small: small;
$xsmall: x-small;

.matchDetail {
    margin: 1rem;

    &__stats {
        display: $flex;
        flex-direction: $row;
        margin: 1rem 5rem 1rem 5rem;

        &__homeTeam {
            display: $flex;
            flex-direction: $column;
            width: 40%;

            &__logo {
                display: $flex;
                justify-content: $flex-start;
            }

            &__name {
                display: $flex;
                justify-content: $flex-start;
            }
        }

        &__score {
            display: $flex;
            flex-direction: $column;
            width: 20%;

            &__scores {
                display: $flex;
                flex-direction: $row;
                justify-content: space-around;
            }

            &__status {
                display: $flex;
                flex-direction: $row;
                justify-content: $center;
            }
        }

        &__awayTeam {
            display: $flex;
            flex-direction: $column;
            width: 40%;

            &__logo {
                display: $flex;
                justify-content: $flex-end;
            }

            &__name {
                display: $flex;
                justify-content: $flex-end;
                text-align: right;
            }
        }
    }

    &__scorers {
        display: $flex;
        font-weight: 600;

        &__home {
            display: $flex;
            flex-direction: $column;
            align-items: $flex-end;
            width: 45%;
        }

        &__logo {
            display: $flex;
            justify-content: $center;
            width: 10%;
        }

        &__away {
            display: $flex;
            flex-direction: $column;
            width: 45%;
        }
    }

    &__charts {
        &__possession {
            display: flex;
            svg {
                margin: auto;
            }
            .back {
                fill: #26a380;
            }
            .wedge-blank {
                fill: white;
            }
            .wedge {
                fill: rgba(0, 0, 0, 0.8);
            }
            .cutout {
                fill: white;
            }
        }
    }
}

@media all and (min-width:0px) and (max-width: 650px) {
    .matchDetail {

        &__stats {
            margin: 0;

            &__homeTeam {
                font-size: $small;
            }

            &__awayTeam {
                font-size: $small;
            }
        }

        &__scorers {
            font-size: $xsmall;
        }
    }

    .MuiSvgIcon-root {
        font-size: 1rem !important;
    }
}
